body{
    background-color: rgb(14, 13, 13);

}
.mainContainer{
    height: fit-content;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    background-color: rgb(14, 13, 13);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.Topper{
    width: fill;
    height: 120px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.Backbutton{
    width: fit-content;
    height: fit-content;
}

/* Back button css properties */
 .Backbutton .button {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
.Backbutton .button:before,
.button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
.Backbutton .button:before {
    border: 4px solid #F0EEEF;
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
  }
  
  .Backbutton .button:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
    opacity: 0;
  }
  
.Backbutton .button:hover:before,
.button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
  }
  
  .Backbutton .button:hover:after,
.button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
  }
  
.button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
.button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #F0EEEF;
}
  
.button:hover .button-box,
.button:focus .button-box {
    transition: .4s;
    transform: translateX(-56px);
  }
  

  /* Back button properties end */

.Navbarx{
    
    backdrop-filter: blur(555px); 
    filter: blur(0.2px);
    width: 700px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(20, 20, 88);
    font-size: 25px;
    
    
}
.Navbarx .spi{
    color: #a63232;

}
.Navbarx .cpi{
    color: #45a42ee7;

}

/* Switch button properties. */

.Navbarx .switch-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    justify-content: center;
    margin-inline: 10px ;
    height: 55px;
  }
  
  .Navbarx  .switch-button .switch-outer {
    height: 100%;
    background: #252532;
    width: 125px;
    border-radius: 165px;
    -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    border: 1px solid #32303e;
    padding: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .Navbarx  .switch-button .switch-outer input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  
  .Navbarx  .switch-button .switch-outer .button-toggle {
    height: 42px;
    width: 42px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,from(#3b3a4e),to(#272733)
    );
    background: -o-linear-gradient(#3b3a4e, #272733);
    background: linear-gradient(#3b3a4e, #272733);
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    position: relative;
    z-index: 2;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    left: 0;
  }
  
  .Navbarx  .switch-button
    .switch-outer
    input[type="checkbox"]:checked
    + .button
    .button-toggle {
    left: 58%;
  }
  
  .Navbarx  .switch-button
    .switch-outer
    input[type="checkbox"]:checked
    + .button
    .button-indicator {
    -webkit-animation: indicator 1s forwards;
    animation: indicator 1s forwards;
  }
  
  .Navbarx  .switch-button .switch-outer .button {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  .Navbarx  .switch-button .switch-outer .button-indicator {
    height: 25px;
    width: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    border: 3px solid #ef565f;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 10px;
    position: relative;
  }
  
  @-webkit-keyframes indicator {
    30% {
      opacity: 0;
    }
  
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      border: 3px solid #60d480;
      left: -68%;
    }
  }
  
  @keyframes indicator {
    30% {
      opacity: 0;
    }
  
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      border: 3px solid #60d480;
      left: -68%;
    }
  }
.Socials{
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
  /*Properties for social*/
  .gitBtn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
  }
  
  .gitsvgIcon {
    transition-duration: .3s;
  }
  
  .gitsvgIcon path {
    fill: white;
  }
  
  .gittext {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .gitBtn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .gitBtn:hover .gittext {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .gitBtn:hover .gitsvgIcon {
    opacity: 0;
    transition-duration: .3s;
  }
  
  .instaBtn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
  }
  
  .instasvgIcon {
    transition-duration: .3s;
  }
  
  .instasvgIcon path {
    fill: white;
  }
  
  .instatext {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .instaBtn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .instaBtn:hover .instatext {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .instaBtn:hover .instasvgIcon {
    opacity: 0;
    transition-duration: .3s;
  }

  .linkedinBtn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #0077B5; /* LinkedIn color theme */
    overflow: hidden;
}

.linkedinsvgIcon {
    transition-duration: .3s;
}

.linkedinsvgIcon path {
    fill: white;
}

.linkedintext {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
}


.emailBtn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background: #4285F4; /* Email color theme */
  overflow: hidden;
}

.emailsvgIcon {
  transition-duration: .3s;
}

.emailsvgIcon path {
  fill: white;
}

.emailtext {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}



  

  /*Properties for the semester drop down*/
.SemDropDown{
  font-size: 1rem;
  background-color: rgb(20, 20, 39);
  border-radius: 10px;
  color:rgb(214, 215, 224);
  margin-inline-start: 5px;
  padding-inline: 5px;
  align-items: center;
  font-weight: 600;
  border: none;
}
.SemOptions{
  color: rgb(195, 196, 235);
  border: none;
}
.SemOptions:hover{
  transform: scale(115%);
}

.Content{
    border-radius: 15px;
    width: 70%;
    height:fit-content;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Footer{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between  ;
  align-items: center;
  gap: 15px;
  font-size: 13px;
}
.Contact{
  margin-inline-start: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.Counter{
  margin-inline-end: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 13px;
}
.Counter a{margin-bottom: 5px;}
.Counter img{
  filter: hue-rotate(90deg);
}

html {
  scroll-behavior: smooth;
}

