
.Homepage{
    height:100vh;
    margin:0;
    background-color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    
}
.Navbar{
    color:aliceblue;
    height: 200px;;
    padding-left:20px ;
    
}
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Intro{
    
    width:100%;
    height:300px;
    padding-left: 5%;
    
    
}
.Intro h1{
    font-size: 70px;
    
}
.Intro {
    color:aliceblue;
}

.launchbutton{
    margin-top: 50px;
}



/*Button Properties */
.launchbutton .btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}
  
.launchbutton .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}
  
.launchbutton .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}
  
.launchbutton .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}
  
.btn:hover .text {
    color: white;
}
  
.launchbutton .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
} 
