.Containerx{
    border: solid rgb(84, 110, 140) 4px;
    border-radius: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.branches{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.branches button{
    padding: 8px;
}

/* Properties for the branch selection buttons */

.active, .btnn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  overflow: hidden;
  height: 2.7rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.3s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btnn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.active #container-stars {
  z-index: 1;
  background-color: #212121;
}


.btnn:hover {
  transform: scale(1.1)
}

.btnn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btnn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.calcButton{
    font-size: 30px;
    padding: 5px;
    border-radius: 15px;
}

.semlist{
    display: grid;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.semlist-items{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: solid rgb(87, 89, 138) 2.3px;
    border-radius: 15px;
    padding: 10px;
}


/*Properties for input in sem options */

.semlist .containerInput {
    background-color: rgb(14, 13, 13);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 0 4px 0;
    z-index: 1;
    font-size: 15px;
  }
  
  .semlist  .containerInput::before {
    content: '';
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    animation: rotate6234 2.3s ease-in-out infinite;
    z-index: -1;
    background-image: conic-gradient(from 0deg at 50% 50%, #073AFF00 0%, #FF0000FF 25%, #073AFF00 25%);
  }
  
  .semlist .containerInput > input {
    width: 150px;
    height: 50%;
    font-size: inherit;
    color: #fff;
    border: none;
    padding: 12px;
    padding-top: 13px;
    background-color: #0a0a0a;
    outline: 5px solid #0a0a0a;
  }
  
  .semlist .containerInput > input:focus {
    outline: none;
  }
  
  .semlist .containerInput > input:not(:placeholder-shown) {
    outline: none;
  }
  
  .semlist .containerInput > input:not(:placeholder-shown):valid {
    border-bottom: 4px solid rgb(0, 255, 183);
    border-radius: 0;
  }
  
  @keyframes rotate6234 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }


  /*Calculator button prperties */

  /* === removing default button style ===*/
  .Calculatorr {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.Calculatorr {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.Calculatorr .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.Calculatorr:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
