.Containery{
    border: solid rgb(184, 199, 216) 4px;
    border-radius: 15px;
    width:550px ;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.branchbuttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 5px;
    justify-content: center;
}
.branchbuttons button{
    font-size: 17px;

}
.semester{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.course-list{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 400px;
}
.inputs{
    
    float: inline-end;
}
.course{
    border: solid rgb(87, 89, 138) 2.3px;
    border-radius: 10px;
    margin-block: 5px;
    padding: 4px;
    padding-inline-end: 7px;
    
}

/*Input stylings */

.containerInput {
    background-color: rgb(14, 13, 13);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 0 4px 0;
    z-index: 1;
    font-size: 15px;
  }
  
  .containerInput::before {
    content: '';
    width: 110%;
    aspect-ratio: 1;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    animation: rotate6234 2.3s ease-in-out infinite;
    z-index: -1;
    background-image: conic-gradient(from 0deg at 50% 50%, #073AFF00 0%, #FF0000FF 25%, #073AFF00 25%);
  }
  
  .containerInput > input {
    width: 120px;
    height: 15px;
    font-size: inherit;
    color: #fff;
    border: none;
    padding: 12px;
    background-color: #0a0a0a;
    outline: 5px solid #0a0a0a;
  }
  
  .containerInput > input:focus {
    outline: none;
  }
  
  .containerInput > input:not(:placeholder-shown) {
    outline: none;
  }
  
  .containerInput > input:not(:placeholder-shown):valid {
    outline: 4px solid rgb(0, 255, 183);
    border-radius: 0;
  }
  
  @keyframes rotate6234 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }